{% extends "template.html" %}
{% block style %}admin{% endblock %}

{% block content %}
    <h1>Admin Interface</h1>
    <h2>Current Users (Sessions)</h2>
    <div class="table">
        <div class="header">
            <span>SID</span>
            <span>User</span>
            <span>Role</span>
        </div>
        {% for user in users %}
            <div>
                <span>{{ user.username }}</span>
                <span>{{ user.password }}</span>
                <span>{{ user.email }}</span>
                <span>{{ user.role }}</span>
            </div>
        {% endfor %}
    </div>
    <h2>All Users</h2>
    <div class="table">
        <div class="header">
            <span>Username</span>
            <span>Password</span>
            <span>E-Mail</span>
            <span>Role</span>
            <span>Last online</span>
        </div>
        {% for user in users %}
            <div>
                <span>{{ user.username }}</span>
                <span>{{ user.password }}</span>
                <span>{{ user.email }}</span>
                <span>{{ user.role }}</span>
                <span>{{ user.getLastSeen(pretty = True) }}</span>
            </div>
        {% endfor %}
    </div>
    <h2>All Games</h2>
    <div class="table">
        {% for game in games %}
            <div>
                <span>{{ game }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
