{% extends "template.html" %}
{% block style %}admin{% endblock %}

{% block content %}
    <h1>Admin Interface</h1>
    <h2>Current Users (Sessions)</h2>
    <div class="table">
        <div class="header">
            <span>SID</span>
            <span>User</span>
            <span>Role</span>
            <span>Functions</span>
        </div>
        {% for sid, user in sessions %}
            <div>
                <span>{{ sid }}</span>
                <span>{{ user.username }}</span>
                <span>{{ user.role }}</span>
                <span>
                    <a href="/admin/terminate/{{ sid }}" class="button">Terminate</a>
                </span>
            </div>
        {% endfor %}
    </div>
    <h2>All Users</h2>
    <div class="table">
        <div class="header">
            <span>Username</span>
            <span>Password</span>
            <span>E-Mail</span>
            <span>Role</span>
            <span>Last online</span>
            <span>Functions</span>
        </div>
        {% for user in users %}
            <div>
                <span>{{ user.username }}</span>
                <span>{{ user.password }}</span>
                <span>{{ user.email }}</span>
                <span>{{ user.role }}</span>
                <span>{{ user.getLastSeen(pretty = True) }}</span>
                <span>
                    {% if user.role == "USER" %}
                        <a href="/admin/elevate/{{ user.username }}" class="button">Elevate</a>
                    {% else %}
                        <a href="/admin/lower/{{ user.username }}" class="button">Lower</a>
                    {% endif %}
                    <a href="/admin/delete/{{ user.username }}" class="button">Delete</a>
                </span>
            </div>
        {% endfor %}
    </div>
    <h2>All Games</h2>
    <div class="table">
        <div class="header">
            <span>Player 1</span>
            <span>Player 2</span>
            <span>Turn of</span>
            <span>Winner</span>
            <span>No. of systems</span>
            <span>Functions</span>
        </div>
        {% for game in games %}
        <div>
            <span>{{ game.players[0] }}</span>
            <span>{{ game.players[1] }}</span>
            <span>{{ game.active }}</span>
            <span>{{ game.winner }}</span>
            <span>{{ game.universe.systems.__len__() }}</span>
            <span>
                <a href="/admin/stop/{{ game.name }}" class="button">Delete</a>
            </span>
        </div>
        {% endfor %}
    </div>
{% endblock %}
