{% extends "template.html" %}
{% block style %}login{% endblock %}

{% block content %}
    <h2>Login</h2>
    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}
    <form method="POST" class="table">
        <div>
            <span>Username:</span>
            <span><input type="text" name="username" autofocus></span>
        </div>
        <div>
            <span>Password:</span>
            <span><input type="password" name="password"></span>
        </div>
        <div>
            <span><input type="submit" value="Login"></span>
        </div>
    </form>
    <p>Not yet registered? Then <a href="/register">sign up</a> to play!</p>
{% endblock %}
