{% extends "template.html" %}
{% block style %}register{% endblock %}

{% block content %}
    <h2>Register your account!</h2>
    {% for msg in get_flashed_messages() %}
        <div class="flash">{{ msg }}</div>
    {% endfor %}
    <form method="POST" class="table">
        <div>
            <span>Username:</span>
            <span><input type="text" name="username" autofocus></span>
        </div>
        <div>
            <span>Password:</span>
            <span><input type="password" name="password"></span>
        </div>
        <div>
            <span>E-Mail:</span>
            <span><input type="text" name="email"></span>
        </div>
        <div>
            <span><input type="checkbox" name="no_email"></span><span>I don't want updates.</span>
        </div>
        <div>
            <span><input type="submit" value="Register"></span>
        </div>
    </form>
    <p>
        Please note that we won't use your E-Mail for anything other than notifications about your games.
        Information about your person will never be given to other people.
    </p>
{% endblock %}
