<!DOCTYPE html>
<html>
    <head>
        <title>Homeworlds online</title>
        <style type="text/css">
            body {
                background: #f5f5f5 url({{ url_for('static', filename='img/Tiny.png') }}) repeat;
            }
            @font-face {
                font-family: Exo; src: url({{ url_for('static', filename='font/Exo.otf') }});
            }
        </style>
        <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="navigation">
            <div>
                <p><a href="/">Home</a></p>
                <p><a href="/play">Play</a></p>
                {% if not session.get("user") %}
                    <p><a href="/login">Login</a></p>
                {% else %}
                    <p><a href="/logout">Logout</a></p>
                    {% if userIsAdmin(session.get("user")) %}
                        <p><a href="/admin">Admin</a></p>
                    {% endif %}
                {% endif %}
                <p>&#x25BE;</p>
            </div>
        </div>
        <div class="content" id="{% block style %}{% endblock %}">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
